html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--color);
    background: var(--bg);
    width: unset !important;
    max-width: unset !important;
}

main {
    width: 100vw;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    text-align: center;
}

.accounts {
    width: 300px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.account {
    height: 50px;
}

.theme {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

footer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.checkbox-img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 0.25rem !important;
    float: left;
}

.even-columns {
    display: flex;
    gap: 1rem;
}

.even-columns > * {
    width: 300px;
}


/* 2nd page */
#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
