:root {
    min-width: 260px;
    max-width: 700px;
}

body {
    margin: revert;
}

button {
    font-size: inherit;
}

a:visited {
    color: blue;
}

p {
    line-height:1.5em;
}

.sortable-ghost > * {
    visibility: hidden;
}

.col-1 input[type=checkbox], .row-1 input[type=checkbox] {
    filter: grayscale(1);
    cursor: grab;
}

.col-1 input[type=checkbox]:checked, .row-1 input[type=checkbox]:checked {
    filter: grayscale(0);
}
